.select2-container--bootstrap-5 .select2-selection {
    border: 3px solid rgba(255, 255, 255, .05) !important;
}

.select2-container--bootstrap-5 .select2-selection {
    border: 1px solid rgba(255, 255, 255, .05);
    /* background-color: var(--input-primary-color-1) !important; */
    /* border: 0; */
    border: 1px solid #ced4da  !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
    border: 0;
    outline: none !important;
    box-shadow: none !important;
}